@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font: "Bebas Neue", sans-serif;
  --body-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
}

html {
  scroll-behavior: smooth;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
